/* scoped: midlandjobs-scope */
.midlandjobs-scope .midlandjobs-slidenav {
  display: inline-block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: rgba(50, 50, 50, 0.4);
  font-size: 60px;
  text-align: center;
}
.midlandjobs-scope .midlandjobs-slidenav:hover,
.midlandjobs-scope .midlandjobs-slidenav:focus {
  outline: none;
  text-decoration: none;
  color: rgba(50, 50, 50, 0.7);
  cursor: pointer;
}
.midlandjobs-scope .midlandjobs-slidenav:active {
  color: rgba(50, 50, 50, 0.9);
}
.midlandjobs-scope .midlandjobs-slidenav-previous:before {
  content: "\f104";
  font-family: FontAwesome;
}
.midlandjobs-scope .midlandjobs-slidenav-next:before {
  content: "\f105";
  font-family: FontAwesome;
}
.midlandjobs-scope .midlandjobs-slidenav-position {
  position: relative;
}
.midlandjobs-scope .midlandjobs-slidenav-position .midlandjobs-slidenav {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 1;
  margin-top: -30px;
}
.midlandjobs-scope .midlandjobs-slidenav-position:hover .midlandjobs-slidenav {
  display: block;
}
.midlandjobs-scope .midlandjobs-slidenav-position .midlandjobs-slidenav-previous {
  left: 20px;
}
.midlandjobs-scope .midlandjobs-slidenav-position .midlandjobs-slidenav-next {
  right: 20px;
}
.midlandjobs-scope .midlandjobs-slidenav-contrast {
  color: rgba(255, 255, 255, 0.5);
}
.midlandjobs-scope .midlandjobs-slidenav-contrast:hover,
.midlandjobs-scope .midlandjobs-slidenav-contrast:focus {
  color: rgba(255, 255, 255, 0.7);
}
.midlandjobs-scope .midlandjobs-slidenav-contrast:active {
  color: rgba(255, 255, 255, 0.9);
}
