<div id="feeds_main_<%= id %>" class="uk-section uk-section-small uk-container">
  <h1>MYID <%= id %></h1>
  <div class="" uk-grid>

    <!-- sidebar -->
    <div class="sidebar uk-width-1-3@l">

      <fieldset class="uk-fieldset">

        <div id="FiltersCount"></div>

        <div id="FiltersDivider"></div>

        <div id="FiltersList"></div>

      </fieldset>
  
    </div>
  
    <!--right area -->
    <div class="uk-width-2-3@l">
  
      <!-- topbar -->
      <div id="FiltersTopBar"></div>
  
      <!-- listings -->
      <div id="FiltersJobsWrap"></div>
  
    </div>

  </div>
</div>