/* 

  The following code will provide theme compatibilty with the feeds plugin.

  For a guide on adding custom css to your site, go to
  https://kinsta.com/blog/wordpress-css/#how-to-add-custom-css-in-wordpress.
  
  The section titled "1. Editing CSS Through WordPress Customizer" should be the 
  best method to use for the following code, though the other methods outlined 
  should work as well.

*/

/* 

  container
  
*/

/* remove padding & margins from container */
.uk-scope .container.uk-section.uk-container {
  padding: 0;
  margin: 0;
  width: 100%;
}

/* 

  text
  
*/

/* text alignment within uk-scope: generalzed theme classes */
.u-align-justify .uk-scope {
  text-align: initial;
}
.u-text .uk-scope {
  word-wrap: normal;
}

/* small text re-size */
.uk-scope .uk-text-small {
  font-size: .825rem;
  line-height: 1.5;
}

/* 

  sidebar
  
*/

/* sidebar re-size */
@media (min-width: 960px) {
  .uk-scope .container > .uk-grid > .uk-width-auto\@m {
    width: 30%;
  }
}

/* 

  pagination
  
*/

/* pagination fixes */
.uk-scope .pagination {
  border: none;
  font-size: inherit;
  min-height: auto;
}

/* pagination black bars removal */
.uk-scope .pagination:before, 
.uk-scope .pagination:after {
  content: none;
}

/* 

  buttons
  
*/

/* hide apply now/company website buttons */
.uk-scope .job-details > .uk-text-small > .uk-button-primary,
.uk-scope .uk-modal-footer > .uk-button-default {
  display: none;
}
/* re-style details button as a primary button */
.uk-scope .job-details > .uk-text-small >.uk-link-reset.uk-text-decoration-none.uk-margin-small-left {
  -webkit-appearance: none;
  box-sizing: border-box;
  display: inline-block;
  font: inherit;
  margin: 0!important;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  transition: .1s ease-in-out;
  transition-property: color,background-color,border-color;
  vertical-align: middle;
  background-color: #1e87f0;
  border: 1px solid transparent;
  color: #fff!important;
  padding: 0 15px;
  font-size: .875rem;
  line-height: 1.5;
  text-transform: capitalize!important;
  border-radius: 5px;
}
.uk-scope .job-details > .uk-text-small >.uk-link-reset.uk-text-decoration-none.uk-margin-small-left:hover {
  background-color: #0f7ae5;
}

/* 

  logo
  
*/

/* logo re-size */
.uk-scope .job > .uk-card > .uk-width-small {
  width: 130px;
  padding: 10pxpx;
}