/* scoped: midlandjobs-scope */
.midlandjobs-scope .midlandjobs-slideshow {
  position: relative;
  z-index: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  touch-action: pan-y;
}
.midlandjobs-scope .midlandjobs-slideshow > li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}
.midlandjobs-scope .midlandjobs-slideshow > .midlandjobs-active {
  z-index: 10;
  opacity: 1;
}
.midlandjobs-scope .midlandjobs-slideshow > li > img {
  visibility: hidden;
}
.midlandjobs-scope [data-midlandjobs-slideshow-slide] {
  cursor: pointer;
}
.midlandjobs-scope .midlandjobs-slideshow-fullscreen,
.midlandjobs-scope .midlandjobs-slideshow-fullscreen > li {
  height: 100vh;
}
.midlandjobs-scope .midlandjobs-slideshow-fade-in {
  -webkit-animation: midlandjobs-fade 0.5s linear;
  animation: midlandjobs-fade 0.5s linear;
}
.midlandjobs-scope .midlandjobs-slideshow-fade-out {
  -webkit-animation: midlandjobs-fade 0.5s linear reverse;
  animation: midlandjobs-fade 0.5s linear reverse;
}
.midlandjobs-scope .midlandjobs-slideshow-scroll-forward-in {
  -webkit-animation: midlandjobs-slide-right 0.5s ease-in-out;
  animation: midlandjobs-slide-right 0.5s ease-in-out;
}
.midlandjobs-scope .midlandjobs-slideshow-scroll-forward-out {
  -webkit-animation: midlandjobs-slide-left 0.5s ease-in-out reverse;
  animation: midlandjobs-slide-left 0.5s ease-in-out reverse;
}
.midlandjobs-scope .midlandjobs-slideshow-scroll-backward-in {
  -webkit-animation: midlandjobs-slide-left 0.5s ease-in-out;
  animation: midlandjobs-slide-left 0.5s ease-in-out;
}
.midlandjobs-scope .midlandjobs-slideshow-scroll-backward-out {
  -webkit-animation: midlandjobs-slide-right 0.5s ease-in-out reverse;
  animation: midlandjobs-slide-right 0.5s ease-in-out reverse;
}
.midlandjobs-scope .midlandjobs-slideshow-scale-out {
  -webkit-animation: midlandjobs-fade-scale-15 0.5s ease-in-out reverse;
  animation: midlandjobs-fade-scale-15 0.5s ease-in-out reverse;
}
.midlandjobs-scope .midlandjobs-slideshow-swipe-forward-in {
  -webkit-animation: midlandjobs-slide-left-33 0.5s ease-in-out;
  animation: midlandjobs-slide-left-33 0.5s ease-in-out;
}
.midlandjobs-scope .midlandjobs-slideshow-swipe-forward-out {
  -webkit-animation: midlandjobs-slide-left 0.5s ease-in-out reverse;
  animation: midlandjobs-slide-left 0.5s ease-in-out reverse;
}
.midlandjobs-scope .midlandjobs-slideshow-swipe-backward-in {
  -webkit-animation: midlandjobs-slide-right-33 0.5s ease-in-out;
  animation: midlandjobs-slide-right-33 0.5s ease-in-out;
}
.midlandjobs-scope .midlandjobs-slideshow-swipe-backward-out {
  -webkit-animation: midlandjobs-slide-right 0.5s ease-in-out reverse;
  animation: midlandjobs-slide-right 0.5s ease-in-out reverse;
}
.midlandjobs-scope .midlandjobs-slideshow-swipe-forward-in:before,
.midlandjobs-scope .midlandjobs-slideshow-swipe-backward-in:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  -webkit-animation: midlandjobs-fade 0.5s ease-in-out reverse;
  animation: midlandjobs-fade 0.5s ease-in-out reverse;
}
