<div class="job">
  <article class="media well listing-item listing-item__jobs listing-item__featured">

    <% if(companylogo.length > 0) { %>
    <div class="media-left listing-item__logo">
      <a href="<%= url %>" tabindex="-1">
        <img class="media-object profile__img-company" src="<%= companylogo %>" alt="<%= company %>">
      </a>
    </div>
    <% } %>

    <div class="media-body">
      <div class="media-right text-right">
        <a class="save-job" data-toggle="modal" data-target="#apply-modal" data-id="<%= referencenumber %>" title="Save" data-href="/saved-jobs/?id=<%= referencenumber %>&amp;action=save&amp;reload=✓" rel="nofollow" href="#"></a>
        <%  var dt = new Date(date); %>
        <div class="listing-item__date">
          <%= dt.toLocaleDateString('en-GB') %>
        </div>

        <% if(jobtypes.length > 0) { %>
          <% for (let type of jobtypes) { %>
            <% if(type == 'Full time') { %>
              <span class="listing-item__employment-type"><%= type %></span>
            <% } %>
            <% if(type == 'Part time') { %>
              <span class="listing-item__employment-type"><%= type %></span>
            <% } %>
            <% if(type == 'Apprentice') { %>
              <span class="listing-item__employment-type"><%= type %></span>
            <% } %>
            <% if(type == 'Permanent') { %>
              <span class="listing-item__employment-type"><%= type %></span>
            <% } %>
            <% if(type == 'Contract') { %>
              <span class="listing-item__employment-type"><%= type %></span>
            <% } %>
            <% if(type == 'Temporary') { %>
              <span class="listing-item__employment-type"><%= type %></span>
            <% } %>
            <% if(type == 'Work from home') { %>
              <span class="listing-item__employment-type"><%= type %></span>
            <% } %>
            <% if(type == 'Flexible') { %>
              <span class="listing-item__employment-type"><%= type %></span>
            <% } %>
          <% } %>
        <% } %>

      </div>
      <div class="media-heading listing-item__title">
        <a href="<%= url %>" class="link"><%= title %></a>
      </div>

      <div class="listing-item__info listing-item__info--item-salary-range clearfix">

      </div>
      <div class="listing-item__info clearfix">
        <span class="listing-item__info--item listing-item__info--item-company">
          <%= company %>
        </span>
        <span class="listing-item__info--item listing-item__info--item-location">
          <% if(city.length > 0) { %>
            <%= city %><% if(state.length > 0 || country.length > 0) { %>, <% } %>
          <% } %>
          <% if(state.length > 0) { %>
            <%= state %><% if(country.length > 0) { %>, <% } %>
          <% } %>
          <% if(country.length > 0) { %>
            <%= country %>
          <% } %>
        </span>
      </div>
      <div class="listing-item__desc">
        ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Review of incoming engineering and architectural
        drawings and enquiries from clients and preparation of material and product quantities and labour
        estimates to assemble an estimate/quotation for project.
        ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Liaison with the client and design engineers in the
        pre-bid review of design and preliminary design development
        ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Preparation of the project estimate and processing
        of documentation for submission to client.
        ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Prepare cost plans to enable design teams to produce
        practical designs for construction projects, which involves liaising with architects, engineers and
        subcontractors
        ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Liaison with Estimating Manager and/or Commercial
        Director on final bid and strategy. &nbsp;
        ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Follow up communication with our client/customer to
        track bid progress and access status of bids.
        ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Updating our Jarvis CRM (Customer Relations
        Management) records with all estimates/tender/ bids.
        ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Uploading...
      </div>
    </div>

  </article>
</div>